/*applying font on document*/
html *
{
   color: #000;
   font-family: Arial;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  width: 30%;
}
  
/*inputs */
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  background: #f1f1f1;
}

/*submit button*/
input[type=submit]{
  background-color: #c73510;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* make username lowercase */
input[name='username'] {
  text-transform: lowercase;
}

/* Add a hover effect for sign up */
input[type=submit]:hover {
  opacity: 0.8;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}
  
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

h4 {
    font-weight: bold;
}