/*applying font on document*/
html *
{
  margin: auto;
  top: 50%;
  left: 50%;
  color: #000;
  font-family: Arial;
  text-align: center;
  border-style: solid;
  border-width: thick;
}
/* Set a style for all buttons */
.quizmenu_current_quiz_playbutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.quizmenu_completed_quizlist_quiz_view{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
/* Add a hover effect for buttons */

h2{
    font-weight: bold;
    font-size: 30px;
  }
   h4{
      font-weight: bold;
  }