<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hot Topics Quiz</title>
  <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
  <header>
    <h2>Hot Topics Quiz</h2>
  </header>
  <main>
    <section class="adminpanel">
      <div class="adminpanel_createquiz">
        <a class="adminpanel_createquiz_link" th:href="@{/createquiz}">Create new quiz</a>
      </div>
      <div class="adminpanel_allquizzes">
        <div class="adminpanel_allquizzes_quiz" th:each="quiz : ${allquizzes}">
          <p class="adminpanel_allquizzes_quiz_title" th:text="${quiz.getName()}"></p>
          <a class="adminpanel_allquizzes_quiz_editlink" th:href="@{/editquiz(qId=${quiz.getId()})}">Edit</a>
        </div>
      </div>
    </section>
  </main>
  <footer></footer>
</body>
</html>