<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<script th:inline="javascript">
  const questions = [
  {
    question: /*[[${currentquiz.getQuestions().get(0).getText()}]]*/ 'What is the capital of Norway?',
    answers: [
      { text: /*[[${currentquiz.getQuestions().get(0).getAnswers().get(0)}]]*/ 'Malmö', correct: /*[[${currentquiz.getQuestions().get(0).getCorrectAnswers().get(0)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(0).getAnswers().get(1)}]]*/ 'Reykjavík', correct: /*[[${currentquiz.getQuestions().get(0).getCorrectAnswers().get(1)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(0).getAnswers().get(2)}]]*/ 'Egilsstaðir', correct: /*[[${currentquiz.getQuestions().get(0).getCorrectAnswers().get(2)}]]*/ false},
      { text: /*[[${currentquiz.getQuestions().get(0).getAnswers().get(3)}]]*/ 'Oslo', correct: /*[[${currentquiz.getQuestions().get(0).getCorrectAnswers().get(3)}]]*/ true}
    ]
  },
  {
    question: /*[[${currentquiz.getQuestions().get(1).getText()}]]*/ 'What is the capital of Norway?',
    answers: [
      { text: /*[[${currentquiz.getQuestions().get(1).getAnswers().get(0)}]]*/ 'Malmö',       correct: /*[[${currentquiz.getQuestions().get(1).getCorrectAnswers().get(0)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(1).getAnswers().get(1)}]]*/ 'Reykjavík',   correct: /*[[${currentquiz.getQuestions().get(1).getCorrectAnswers().get(1)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(1).getAnswers().get(2)}]]*/ 'Egilsstaðir', correct: /*[[${currentquiz.getQuestions().get(1).getCorrectAnswers().get(2)}]]*/ false},
      { text: /*[[${currentquiz.getQuestions().get(1).getAnswers().get(3)}]]*/ 'Oslo',        correct: /*[[${currentquiz.getQuestions().get(1).getCorrectAnswers().get(3)}]]*/ true}
    ]
  },
  {
    question: /*[[${currentquiz.getQuestions().get(2).getText()}]]*/ 'What is the capital of Norway?',
    answers: [
      { text: /*[[${currentquiz.getQuestions().get(2).getAnswers().get(0)}]]*/ 'Malmö',       correct: /*[[${currentquiz.getQuestions().get(2).getCorrectAnswers().get(0)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(2).getAnswers().get(1)}]]*/ 'Reykjavík',   correct: /*[[${currentquiz.getQuestions().get(2).getCorrectAnswers().get(1)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(2).getAnswers().get(2)}]]*/ 'Egilsstaðir', correct: /*[[${currentquiz.getQuestions().get(2).getCorrectAnswers().get(2)}]]*/ false},
      { text: /*[[${currentquiz.getQuestions().get(2).getAnswers().get(3)}]]*/ 'Oslo',        correct: /*[[${currentquiz.getQuestions().get(2).getCorrectAnswers().get(3)}]]*/ true}
    ]
  },
  {
    question: /*[[${currentquiz.getQuestions().get(3).getText()}]]*/ 'What is the capital of Norway?',
    answers: [
      { text: /*[[${currentquiz.getQuestions().get(3).getAnswers().get(0)}]]*/ 'Malmö',       correct: /*[[${currentquiz.getQuestions().get(3).getCorrectAnswers().get(0)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(3).getAnswers().get(1)}]]*/ 'Reykjavík',   correct: /*[[${currentquiz.getQuestions().get(3).getCorrectAnswers().get(1)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(3).getAnswers().get(2)}]]*/ 'Egilsstaðir', correct: /*[[${currentquiz.getQuestions().get(3).getCorrectAnswers().get(2)}]]*/ false},
      { text: /*[[${currentquiz.getQuestions().get(3).getAnswers().get(3)}]]*/ 'Oslo',        correct: /*[[${currentquiz.getQuestions().get(3).getCorrectAnswers().get(3)}]]*/ true}
    ]
  }, 
  {
    question: /*[[${currentquiz.getQuestions().get(4).getText()}]]*/ 'What is the capital of Norway?',
    answers: [
      { text: /*[[${currentquiz.getQuestions().get(4).getAnswers().get(0)}]]*/ 'Malmö',       correct: /*[[${currentquiz.getQuestions().get(4).getCorrectAnswers().get(0)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(4).getAnswers().get(1)}]]*/ 'Reykjavík',   correct: /*[[${currentquiz.getQuestions().get(4).getCorrectAnswers().get(1)}]]*/ false },
      { text: /*[[${currentquiz.getQuestions().get(4).getAnswers().get(2)}]]*/ 'Egilsstaðir', correct: /*[[${currentquiz.getQuestions().get(4).getCorrectAnswers().get(2)}]]*/ false},
      { text: /*[[${currentquiz.getQuestions().get(4).getAnswers().get(3)}]]*/ 'Oslo',        correct: /*[[${currentquiz.getQuestions().get(4).getCorrectAnswers().get(3)}]]*/ true}
    ]
  }
]
</script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hot Topics Quiz</title>
  <link th:href="@{/css/play.css}" rel="stylesheet">
  <script defer th:src="@{/js/play.js}"></script>
</head>
<body>
  <div class="container">
    <div id="question-container" class="hide">
      <div id="question">Question</div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn">Answer 1</button>
        <button class="btn">Answer 2</button>
        <button class="btn">Answer 3</button>
        <button class="btn">Answer 4</button>
      </div>
    </div>
    <div class="controls">
      <button id="start-btn" class="start-btn btn">Start</button>
      <button id="next-btn" class="next-btn btn hide">Next</button>
    </div>
  </div>
  <form id="form" method=POST class="hide">
    <input type="text" name="an1">
    <input type="text" name="an2">
    <input type="text" name="an3">
    <input type="text" name="an4">
    <input type="text" name="an5">
  </form>
</body>
</html>