<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hot Topics Quiz - Signup</title>
</head>
<body>
  <header>
    <h2>Hot Topics Quiz</h2>
  </header>
  <main>
    <div>
      <h4>Please provide the required information to sign up.</h4>
    </div>
    <div>&nbsp;</div><!-- this is only to allow some space for error to appear neatly, should be removed after configuring css -->
    <form method="POST">
      <input type="text" th:name="username" placeholder="Username" required="true">
      <input type="text" th:name="name" placeholder="Name" required="true">
      <input type="password" th:name="password" placeholder="Password" required="true">
      <input type="submit" value="Sign up">
    </form>
    <br/>
    <div>
      <a href="../login"><button>Log in instead.</button></a>
    </div>
  </main>
  <footer></footer>
</body>
</html>